.custom-card {
    height: 375px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.custom-card img {
    object-fit: cover;
    height: 200px;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: .45rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.category-card {
    height: 300px;
    /* Set a different fixed height for the category card */
}