{% extends "base.htm" %}

{% block content %}

<div>
    <table style="width:100%;">
        <tr>
            <td>Aution Name</td>
            <td>:</td>
            <td>{{ details['Auction_text'] }}</td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td>:</td>
            <td>{{ details['startDate'] }}</td>
        </tr>
        <tr>
            <td>End Date</td>
            <td>:</td>
            <td>{{ details['endDate'] }}</td>
        </tr>
        <tr>
            <td>Base Price</td>
            <td>:</td>
            <td>{{details['basePrice']}}</td>
        </tr>
        <tr>
            <td>Reserve Price</td>
            <td>:</td>
            <td>{{details['reservePrice']}}</td>
        </tr>
        <tr>
            <td>Increment</td>
            <td>:</td>
            <td>{{details['bidInc']}}</td>
        </tr>
        <tr>
            <td>Seller ID</td>
            <td>:</td>
            <td>{{details['seller_id']}}</td>
        </tr>
        <tr>
            <td>Seller Name</td>
            <td>:</td>
            <td>{{details['user_name']}}</td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
            <td>Item</td>
            <td>:</td>
            <td>{{details['Item_Name']}}</td>
        </tr>
        <tr>
            <td>Item Description</td>
            <td>:</td>
            <td>{{details['Item_desc']}}</td>
        </tr>
        <tr>
            <td>Image</td>
            <td>:</td>
            <td><img src="{{ url_for('static', filename=details['Item_img_path']) }}" width="200" height="200"></td>
        </tr>
        <tr>
            <td>Maximum Retail Price</td>
            <td>:</td>
            <td>{{details['MRP']}}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>:</td>
            <td>{{details['category_name']}}</td>
        </tr>
    </table>
</div>

<div>
    <table id="latestBidDetails">
        <tr>
            <td>Last Bid Price</td>
            <td>:</td>
            <td id="maxBid"></td>
        </tr>
        <tr>
            <td>Last Bid Time</td>
            <td>:</td>
            <td id="maxBidTime"></td>
        </tr>
        <tr>
            <td>Expected Bid</td>
            <td>:</td>
            <td id="expectedBidamt"></td>
        </tr>
        <tr>
            <td>Bid Count</td>
            <td>:</td>
            <td id="bidCount"></td>
        </tr>
        <tr>
            <td>Remaining Time</td>
            <td>:</td>
            <td id="timeRemaining"></td>
        </tr>
    </table>
</div>

<div>
    {% if 'uid' not in session %}
        <p>Login to add your bids</p>
        <a href="/login">
            <button>Login</button>
        </a>
    {% else %}
        <form method="post" action="/addBid/{{ details['Auction_id'] }}" id="bidForm">
            <label for="bid">Bid:</label>
            <input type="number" id="bid" name="bid" step="any" required><br>
            <input type="submit" value="Add Bid" id="addBidButton">
        </form>
    {% endif %}
</div>
<div>
    <table id="bidHistoryTable">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Bid Amt</th>
                <th>Bid Time</th>
            </tr>
        </thead>
        <tbody>
            <!--populate table-->
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var currentBidCount = 0;
    var topBidder = 0;

    document.getElementById('bidForm').addEventListener('submit', function(event) {
        // Prevent the default form submission
        event.preventDefault();

        if (topBidder=="{{ session['uid'] }}") {
            alert('You are the top bidder.');
        } else {
            document.getElementById('bidForm').submit();
        }
    });

    function updateLatestBidDetails() {
    $.ajax({
        url: '/latestBidDetails/{{ details["Auction_id"] }}',
        type: 'GET',
        dataType: 'json',
        success: function (latestDetails) {
            $('#timeRemaining').text(latestDetails['remainingTime']);
            if (currentBidCount !== latestDetails['Bid_count']) {
                currentBidCount = latestDetails['Bid_count'];
                $('#maxBid').text(latestDetails['max_bid']);
                $('#maxBidTime').text(latestDetails['last_bid_time']);
                $('#expectedBidamt').text(latestDetails['expectedBidamt']);
                $('#bidCount').text(latestDetails['Bid_count']);
                getBidHistory();
            }
        },
        error: function (error) {
            console.log('Error fetching latest bid details:', error);
        }
    });
}

    // Function to fetch bid data from the server and append to the table
    function getBidHistory() {
        var bidHistoryTable = $('#bidHistoryTable').find('tbody');

        // Make an AJAX request to fetch bid data
        $.ajax({
            url: '/bidHistory/{{ details["Auction_id"] }}',
            type: 'GET',
            dataType: 'json',
            success: function (bidHistory) {
                // Create a new tbody element with the new data
                var newTbody = $('<tbody>');

                // Loop through the bid history data and append rows to the new tbody
                bidHistory.forEach(function (row) {
                    var newRow = '<tr><td>' + row['user_name'] + '</td><td>' + row['Bid_amt'] + '</td><td>' + row['Bid_time'] + '</td></tr>';
                    newTbody.append(newRow);
                });

                // Replace the existing tbody with the new one
                bidHistoryTable.html(newTbody.html());
                topBidder = bidHistory[0]['User_id'];
                $('#bid').val($('#expectedBidamt').text());
                $('#bid').prop('min', $('#expectedBidamt').text());
            },
            error: function (error) {
                console.log('Error fetching bid history:', error);
            }
        });
    }

    updateLatestBidDetails();

    // Call the function every 5 seconds
    setInterval(function () {
        updateLatestBidDetails();
    }, 1000);
</script>


{% endblock %}