{% extends "base.htm" %}

{% block content %}
    <!--<div class="main-container">
        <div class="role-functions">
            <h3>Role Functions</h3>
            <ul>
                {% for row in functions %}
                    <li>{{ row['Function_name'] }}</li>
                {% endfor %}
            </ul>
    </div>-->
        <div class="product-list">
            <h2>Welcome to My Website</h2>
            <p>This is the home page content.</p>
            {% if uname!=None %}
                <p>Welcome, {{ uname }}!</p>
            {% else %}
                <p>Welcome, Guest!</p>
            {% endif %}
            
            {% set ns=namespace(current_status = 0) %}
            {% for row in auctionData %}
                {% if ns.current_status != row['Auction_status'] %}
                    <div class="status-header"><b>{{ row['StatusDef_text'] }}</b></div>
                    {% set ns.current_status = row['Auction_status'] %}
                {% endif %}
                <div class="product-item">
                    <img src="{{ url_for('static', filename=row['Item_img_path']) }}" alt="Item Image">
                    <div class="product-details">
                        <h3><a href="/auctionDetails/{{ row['Auction_id'] }}">{{ row['Auction_text'] }}</a></h3>
                        <p><strong>Start Date:</strong> {{ row['startDate'] }}</p>
                        <p><strong>End Date:</strong> {{ row['endDate'] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
