{% extends "base.htm" %}
{% block title %}My Auctions{% endblock %}

{% block content %}
<h1>My Bids</h1>
{% if 'uid' not in session %}
    <p>Login to see your Auctions</p>
    <a href="/login">
        <button>Login</button>
    </a>
{% else %}
            {% set ns=namespace(current_status = 0) %}
            {% for row in myAuctions %}
                {% if ns.current_status != row['Auction_status'] %}
                    <div class="status-header"><b>{{ row['StatusDef_text'] }}</b></div>
                    {% set ns.current_status = row['Auction_status'] %}
                {% endif %}
                <div class="product-item">
                    <img src="{{ url_for('static', filename=row['Item_img_path']) }}" alt="Item Image">
                    <div class="product-details">
                        <h3><a href="/auctionDetails/{{ row['Auction_id'] }}">{{ row['Auction_text'] }}</a></h3>
                        <p><strong>Start Date:</strong> {{ row['startDate'] }}</p>
                        <p><strong>End Date:</strong> {{ row['endDate'] }}</p>
                    </div>
                </div>
            {% endfor %}
{% endif %}
{% endblock %}
