{% extends 'login-register.htm' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <h1>Join Us Today</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert">
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/register">

            <input type="text" name="usr_name" placeholder="Name" required>

            <input type="email" name="email" placeholder="E-mail address" required>

            <input type="date" name="DOB" required>

            <input type="text" name="phno" placeholder="Phone Number" required>

            <input type="text" name="house_no" placeholder="House Number" required>

            <input type="text" name="street" placeholder="Street" required>

            <input type="text" name="city" placeholder="City" required>

            <input type="number" name="pin_code" placeholder="Pin Code" required>

            <input type="password" name="pwd" placeholder="Password" required>

            <input type="submit" value="Register">
        </form>


        <div class="link">
            <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>
{% endblock %}
