<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="/register">
        <label for="usr_name">Username:</label>
        <input type="text" name="usr_name" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>
        
        <label for="DOB">Date of Birth:</label>
        <input type="date" name="DOB" required><br><br>
        
        <label for="phno">Phone Number:</label>
        <input type="text" name="phno" required><br><br>
        
        <label for="house_no">House Number:</label>
        <input type="text" name="house_no" required><br><br>
        
        <label for="street">Street:</label>
        <input type="text" name="street" required><br><br>
        
        <label for="city">City:</label>
        <input type="text" name="city" required><br><br>
        
        <label for="pin_code">Pin Code:</label>
        <input type="number" name="pin_code" required><br><br>
        
        <label for="pwd">Password:</label>
        <input type="password" name="pwd" required><br><br>
        
        <input type="submit" value="Register">
    </form>
</body>
</html>